
<h1>Toyota<span class="badge bg-secondary"></span></h1>
<p>{{model}}  {{year}}  {{color}}</p>
<hr>
{{#with  features}}
<h2>Features:<span class="badge bg-secondary"></span></h2>
<ul>
  <li>interior:
{{#with   interior}}
<ul>
  <li>seats:
    {{#with seats}}
    <ul>
      <li>{{material}} {{color}} {{ heated}} {{ ventilated}}</li>
    </ul>
    {{/with}}
  </li>
  <li>dashboard:
    {{#with dashboard}}
    <ul>
      <li>{{material}} {{color}}</li>
      <li>display:
         {{#with display}}{{type}}, {{size}}, {{resoluyion}}, {{touchscreen}}
        {{/with}}
      </li>
    </ul>
    {{/with}}
  </li>
  <li>audio:
    {{#with audio}}
    <ul>
      <li> {{audio:}} {{speakers}} {{subwoofer}} {{ bluetooth}} {{USB}}</li>
    </ul>
    {{/with}}
  </li>
 
  </ul>
  
{{/with}}
</ul>
<ul>
  <li>exterior:
{{#with   exterior}}
<ul>
  <li>wheels:
    {{#with wheels}}
    <ul>
      <li>{{size}} {{type}} {{color}} </li>
    </ul>
    {{/with}}
  </li>
  <li> headlights:
    {{#with  headlights}}
    <ul>
      <li>{{type}} {{brightness}} {{ automatic}}</li>
          </ul>
    {{/with}}
  </li>
  <li>sunroof:
    {{#with sunroof}}
    <ul>
      <li> {{ type}} {{size}} {{automatic}}</li>
    </ul>
    {{/with}}
  </li>
 
  </ul>
  <ul>
  <li>safety:
{{#with   safety}}
<ul>
  <li>airbags:
    {{#with airbags}}
    <ul>
      <li>front: {{ front}}</li>
        <li>side: {{side}}</li>
        <li>knee: {{knee}}</li>
        <li>rear: {{rear}}</li>
            </ul>
    {{/with}}
  </li>
  <li> assistance:
    {{#with  assistance}}
    <ul>
      <li>{{#if blind_spot_monitoring:}}blind_spot_monitoring {{/if}}</li>
      <li>{{#if rear_cross_traffic_alert}}rear_cross_traffic_alert {{/if}}</li>
      <li>{{#if lane_departure_warning}} lane_departure_warning {{/if}}</li>
      <li>{{#if adaptive_cruise_control}} adaptive_cruise_control {{/if}}</li>
      <li>{{#if collision_warning}} collision_warning {{/if}}</li>
          </ul>
    {{/with}}
  </li>
  </ul>
 {{/with}}

