<main>
      <div class="m-5">
    <div class="row">
      
        <div class="card">
                <div class="card-body">
                     <div class="col-10 ">
               {{#each  navigation.links}}
        <a >{{text}}</a>
               {{/each}}
         </div>
        </div>
    </div>
    </div>



<section>
    {{#with formBlock}}
    <h1>{{header}}</h1>
<p>{{text}}</p>

{{#each buttons}}
<a class="btn btn-primary" href="{{link}}">{{text}}</a>

{{/each}}

{{/with}}

</section>


</div>
</main>



