<main class="m-3">
    <section >
      
       <div class="card">
         <div class="row">
         {{#each navigation.links}}
             <div class="col-2">  
       
               <div class="nav">
                  <div class="nav-item">
                         
                            <a href="{{href}}" class="nav-link active" >{{text}}</a>
                      
                 
                  </div> 
                   </div>
     </div>   
               {{/each}}
            </div> 
            </div>
    
    
    </section>
   
    <section>
       <div class="row gy-2 gx-2 " >
        {{#with newsBlock}}
        <h1 class="text-center">{{title}}</h1>
         {{#each cards}}
       <div class="col-3">
      <div class="card">
        <div class="card text-bg-secondary">
          <div class="card-header">{{title}} 
  {{#if isTop}} <span class="badge text-bg-success rounded-pill">{{isTop}}</span> {{else}} <span class="badge text-bg-danger rounded-pill">{{isTop}}</span> {{/if}} {{#if isNew }} <span class="badge text-bg-success rounded-pill">{{isNew}}</span> {{else}} <span class="badge text-bg-danger rounded-pill">{{isNew}}</span> {{/if}}
            </div>
      <div class="card-body">
    <p>{{description}}</p>
    </div>
      </div>
       </div>
        </div>
          {{/each}}
       {{/with}}
      </div>
    </section>
    <hr>

    <section>
   
      {{#with goodsBlock}}
      <div class="row">
      
        {{#each tabs}}
        <div class="col-3 mt-4">
        <div class="nav-tabs">
          <div class="nav-item">
            <a href="#" class="nav-link{{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
          </div>
</div>
        </div>
        {{/each}}
     
      </div>
<div class="row">
  {{#each cards}}
  <div class="col-4 g-3" >
    <div class="card">
        <img class="card-img-top" src="{{image}}">
  
    <div class="card-body">
      <h5 class="card-title">{{title}}  {{#if isHot}} <span class="badge text-bg-primary rounded-pill">{{isHot}}</span> {{else}} <span class="badge text-bg-warning rounded-pill">{{isHot}}</span> {{/if}} {{#if isNew }} <span class="badge text-bg-primary rounded-pill">{{isNew}}</span> {{else}} <span class="badge text-bg-warning rounded-pill">{{isNew}}</span> {{/if}}</h5>
      <p>{{description}}</p>
        </div>
    </div>
     </div>
     {{/each}}
     </div>
      {{/with}}
    </section>
    <hr>

    <section>
      <div class="card text-bg-dark">
        {{#with subscribe}}
        <div class="ms-2">
<h2>{{header}}</h2>
<p>{{description}}</p>
   </div>
{{#each buttons}}
<div class="col-4">
<div class=" ms-2 mb-2">
<div class="card ">
    <a class="btn btn-primary" href="{{link}}">{{text}}</a>
    </div>
    </div>
    </div>
   
{{/each}}
</div>
        {{/with}}
      </div>
    </section>
<hr>

<section>
  <div class="card text-bg-success text-center">
    {{#with service}}
        <h2>{{title}}</h2>
    <p>{{description}}</p>
       {{#each buttons}}
      <div class="card-body text-bg-success ">
    <a class="btn btn-primary "  href="{{link}}">{{text}}</a>
  </div>
    {{/each}}

    {{/with}}
 </div>
  </div>
</section>
<hr>
<section class="row ">
  {{#each footer}}
       <div class="col-2">
       <div class="nav flex-column">
        {{#each this}}
        <div class="nav-item">
          <a class="nav-item{{#if @last}}disabled{{/if}}" href="{{link}}">{{text}}</a>
        </div>
      {{/each}}
</div>
      </div>
        {{/each}}

</section>

</main>
