<main>
    <section >
     <div class="row">
     

      
       <div class="card">
         {{#each navigation.links}}
         <div class="card-2">
               <div class="nav">
                  <div class="nav-item">
                         
                            <a href="{{href}}" class="nav-link active" >{{text}}</a>
                       </div>
                 </div>
                  </div>    
               {{/each}}
            
    
     </div>
     </div>
    </section>
   
    <section>
       <div class="row gy-2 gx-2" >
        {{#with newsBlock}}
        <h1 class="text-center">{{title}}</h1>
         {{#each cards}}
       <div class="col-3">
      <div class="card">
        <div class="card text-bg-secondary">
          <div class="card-header">{{title}} 
  {{#if isTop}} <span class="badge text-bg-success rounded-pill">{{isTop}}</span> {{else}} <span class="badge text-bg-danger rounded-pill">{{isTop}}</span> {{/if}} {{#if isNew }} <span class="badge text-bg-success rounded-pill">{{isNew}}</span> {{else}} <span class="badge text-bg-danger rounded-pill">{{isNew}}</span> {{/if}}
            </div>
      <div class="card-body">
    <p>{{description}}</p>
    </div>
      </div>
       </div>
        </div>
          {{/each}}
       {{/with}}
      </div>
    </section>
    <hr>

    <section>
      {{#with goodsBlock}}
      <div class="row g-4">
        <div class="col-12">
        {{#each tabs}}
        <div class="col-3">
        <div class="nav-tabs">
          <div class="nav-item">
            <a href="#" class="nav-link active">{{text}}</a>
          </div>
</div>
        </div>
        {{/each}}
      </div>
      </div>
<div class="row">
  {{#each cards}}
  <div class="col-4 g-3" >
    <div class="card">
        <img class="card-img-top" src="{{image}}">
  
    <div class="card-body">
      <h5 class="card-title">{{title}}  {{#if isHot}} <span class="badge text-bg-primary rounded-pill">{{isHot}}</span> {{else}} <span class="badge text-bg-warning rounded-pill">{{isHot}}</span> {{/if}} {{#if isNew }} <span class="badge text-bg-primary rounded-pill">{{isNew}}</span> {{else}} <span class="badge text-bg-warning rounded-pill">{{isNew}}</span> {{/if}}</h5>
      <p>{{description}}</p>
        </div>
    </div>
     </div>
     {{/each}}
     </div>
      {{/with}}
    </section>
    <hr>

    <section>
      <div class="card text-bg-dark">
        {{#with subscribe}}
<h2>{{header}}</h2>
<p>{{description}}</p>

{{#each buttons}}
<div class="me-5 pe-5 mb-1">
<div class="card ">
    <a class="btn btn-primary"   href="{{link}}">{{text}}</a>
    </div>
    </div>
{{/each}}
        {{/with}}
      </div>
    </section>
<hr>

<section>
  <div class="card text-bg-success text-center">
    {{#with service}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    {{#each buttons}}
    <div class="ps-5 pe-5 ms-5 me-5 mb-2">
    <div class="card ">
    <a class="btn btn-primary" href="{{link}}">{{text}}</a>
    </div>
    </div>
    {{/each}}

    {{/with}}
  </div>
</section>
<hr>

<section class="row gy-5">
  {{#each footer}}
       <div class="col-2 gy-4 list-group">
       
        <a href="{{link}}" class="my-5 list-item" target="_blank"><button class="btn btn-link">{{text}}</button></a>

      </div>
        
  {{/each}}
</section>

</main>
