<div class="card">
    {{#with heading}}
    <br>
    <div class="card">
  <div class="card-body">
 {{#with main}}
    <h1 class="display-1">{{title}}</h1>
  <p class="display-6 text-ms text-muted">{{text}}</p>
  {{#with button_text}}
  <batton class="btn btn-primary">{{solid}}</batton>
  <br>
  <br>
  <batton class="btn btn-outline-primary">{{ outline}}</batton>
{{/with}}
  {{/with}}
  </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      {{#with second}}
      <h2 class="display-2">{{title}}</h2>
      <p class="text-ms text-muted">{{text}}</p>
       {{#with button_text}}
  <batton class="btn btn-secondary">{{solid}}</batton>
  <br>
  <br>
  <batton class="btn btn-outline-secondary">{{ outline}}</batton>
{{/with}}
      {{/with}}
    </div>
  </div>
  <br>
   <div class="card">
    <div class="card-body">
      {{#with subblock}}
      <h2 class="display-3">{{title}}</h2>
      <p class="text-ms text-muted">{{text}}</p>
       {{#with button_text}}
  <batton class="btn btn-dark">{{solid}}</batton>
  <br>
  <br>
  <batton class="btn btn-outline-dark">{{outline}}</batton>
{{/with}}
      {{/with}}
    </div>
  </div>
  <br>
{{/with}}
  </div>
  <br>
  <br>
  <div class="card">
    {{#with nested_display}}
    <h1 class="display-1">{{title}}</h1>
    <div class="card">
      <div class="card-body">
    {{#with  children_display}}
    <h4 class="display-4">{{title}}</h4>
    <p class="text ms">{{text}}</p>
    {{#with button}}
    <batton class="btn btn-outline-warning">{{text}}</batton>
    {{/with}}
    </div>
    </div>
    {{/with}}
<h6 class="display-6">{{header_text}}</h6>
{{#with button}}
<br>
   <button class="btn btn-info" style = "width: 120px;">{{text}}</button>
   <br>
    {{/with}}
    {{/with}}
    </div>
    <br>
    <div class="card">
      {{#with paragraph}}
      <h3 class="text-uppercase">{{title}}</h3>
      <br>
      <p class="text-lowercase">{{text}}</p>
      {{#with  button}}
      <a href= "https://google.com">
      <button type="button" class="btn btn-link">{{text}}</button></a>
      {{/with}}
      <br>
      <div class="card">
        <div class="card-body">
          
          <ul>
            <li> <a href= "https://github.com/">
      <button type="button" class="btn btn-link">{{list_name.[0].text}}</button></a></li>
      <li> <a href= "https://getbootstrap.com/">
      <button type="button" class="btn btn-link">{{list_name.[1].text}}</button></a></li>
          </ul>
         
        </div>
      </div>
      {{/with}}
<br>
    </div>
<br>
  </div>
 
