 <main>
  <div class="row">
 {{#with navigation}}
  {{#each links}}
  
  <div class="col-2">
<a href="{{href}}" class="btn btn-link">{{text}}</a>
  </div>
  {{/each}}
  {{#with button}}
 <div class="col-2 ">
<a href="{{href}}" class="btn btn-primary" style="width:100px; height: 25px;">{{text}}</a>
  </div>
 {{/with}}
  {{/with}}
  </div>
  <hr>
  <section>
    <div/>
      {{#with header}}
   <h1>{{title}}</h1>   
   <p>{{description}}</p>
{{#with button}}
   <a href="{{link}}" class="btn btn-primary" style="width: 150px; height: 50px">{{text}}</a>
   {{/with}}

      {{/with}}
    </div>
  </section>
  <hr>

  <section>

  {{#with city}}
  <h2>{{title}}</h2>
<br>
<div class="row "> 
  {{#each cards}}
  <div class="col-5 g-3" >
    <div class="card">
     {{#with picture}}
    <img class="card-img-top" src="{{src}}" alt="{{alt}}">
    {{/with}}
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p>{{description}}</p>
      {{#with button}}
      <a href="{{href}}" class="btn btn-primary">{{text}}</a>
      {{/with}}
    </div>
    </div>
     </div>
     {{/each}}
      </div>
        {{/with}}
    </section>
  
  <hr>
 <section>
  <div>
    {{#with winner}}
    <h2>{{title}}</h2>
    <table class="table">
      {{#with table}}
      <br>
      <thead>
        
        <tr>
          {{#each head}}
          <th>{{this}}         </th>
          {{/each}}
        </tr>
      
      </thead>
      <tbody>
        <tr>
          {{#each user}}
          <tr>
           <th>{{place}}</th>
           <td>{{name}}</td>
           <td>{{surname}}</td>
           <td>{{nickname}}</td>
         </tr>
          {{/each}}
        </tr>
      </tbody>
    </table>
    {{/with}}
    {{/with}}
  </div>
 </section>
 <hr>
 <section>
  
    {{#with gallery}}
    <h2>{{title}}</h2>
<br>
    <div class="row">
     
        {{#each cards}} 
         <div class="col-4">
       <div class="card "> 
      <div class="card-header">{{name}}</div>
      <ul class="list-group list-group-flush">
        {{#each items}}
        <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
      </div>
       </div>
      {{/each}}
      
      </div>
    {{/with}}
  </section>
<hr>

<section>
  {{#with relaxion }}
  <h3 class="display-5">{{title}}</h3>
  <br>
    <div class="row gy-5 gx-5" >
    {{#each cards}}
    
  <div class="col-5">
     <div class="card">
  <div class="card text-bg-secondary">
<div class="card-header">{{header}}</div>
<div class="card-body">
  <h6>{{title}}</h6>
  <p>{{description}}</p>
  </div>
  </div>
  </div>
</div>
  {{/each}}
   </div>

   {{/with}}
</section>
<hr>

<section>
 
  <div class="row gx-2 gy-4">
    {{#each rest.cards}}
    <div class="col-6">
       <div class="card text-center">
       <div class="card-header">{{header}}</div>
<div class="card-body">
  <h6>{{title}}</h6>
  <p>{{description}}</p>
  <button class="btn btn-primary">{{button}}</button>
    </div>
    <div class="card-footer text-body-secondart">{{footer}}</div>
       </div>
       </div>
      {{/each}}
    </div>
    
</section>

 <hr>
<section>
  {{#with proposition}}
  <h2 class="display-2">{{title}}</h2>
  <br>
  <div class="row" > 
  {{#each card}}
  
       <div class="col-5 gy-3">
     <div  class="card">
        <div class="card text-bg-warning text-light" >
  <div class="card-header">{{header}}</div>
<div class="card-body">
  <h6>{{title}}</h6>
  <p>{{description}}</p>
 </div>
    </div>
 </div>
  </div>  

  {{/each}}
   </div>
  {{/with}}
</section>

<hr>
<section class="row gy-3">
  {{#with footer}}
  <div>
    <h5>{{title}}</h5>
      </div>
      <div class="col-4 gy-3 list-group">
        {{#each navigation}}
        <a href="{{href}}" class="my-2 list-item" target="_blank"><button class="btn btn-link">{{text}}</button></a>
{{/each}}
      </div>
         <div class="col-4 list-group">
        {{#each  socialMedia}}
        <a href="{{link}}" class="my-2 list-item" target="_blank"><button class="btn btn-outline-dark">{{name}}</button></a>
{{/each}}
      </div>
      
         <div class="col-4 list-group">
        {{#each  partners}}
        <a href="{{link}}" class="my-2 list-item" target="_blank"><button class="btn btn-outline-dark">{{name}}</button></a>
{{/each}}
      </div>
  {{/with}}
</section>

 
 </main>